/*
---------------------------------------------------------------------------------
    Component: Import styles
    URL: https://www.dragoncillos.com/
    Author: dragoncillos.com
    v2.1: 28/05/2024
---------------------------------------------------------------------------------
*/

@layer base, utilities, form, result;

@import url("./stylesheets/base.css") layer(base);
@import url("./stylesheets/utilities.css") layer(utilities);
@import url("./stylesheets/form.css") layer(form);
@import url("./stylesheets/result.css") layer(result);


